<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>headers}}
    <img class="portrait" src="./img/photoFer.jpg" alt="photo_fer" />
    </div>
    
    {{>footers}}
  </body>
</html>